.red {
  color: #EB382B;
}

.green {
  color: #5DC746;
}

.black {
  color: black;
}

.upvote-value-downvote {
  display: flex;
}

.no-user {
  display: none;
}

.has-current-user-green {
  display: flex;
  color: #5DC746;
}

.has-current-user-red {
  display: flex;
  color: #EB382B;

}

.has-current-user-black {
  display: flex;
  color: black;
}
