.red {
  color: #EB382B;
}

.green {
  color: #5DC746;
}

.black {
  color: black;
}

.upvote-value-downvote {
  display: flex;

  button {
    border-bottom: none;
  }

  button:hover {
    border-bottom: none;
  }
  padding-left: 10px;
}

.score {
  position: absolute;
  margin-left: 30px;
}

.no-user {
  display: none;
}

.has-current-user-green {
  display: flex;
  color: #5DC746;
}


.has-current-user-red {
  display: flex;
  color: #EB382B;
}


.upvote-has-current-user-black {
  display: flex;
  color: black;
}

.upvote-has-current-user-black:hover {
  display: flex;
  color: #5DC746;
}

.downvote-has-current-user-black {
  display: flex;
  color: black;
}

.downvote-has-current-user-black:hover {
  display: flex;
  color: #EB382B;
}

.first-button {
  margin-right: 15px;
}
