.main-story {
  height: 327px;
  width: 530px;
  background: linear-gradient(#595959, black 50%);
  // background-color: black;
}

.main-story img {
  height: 327px;
  width: 530px;
  opacity: 0.3;
}

// .main-story:hover {
//   background: radial-gradient(white, black 70%);
// }

.main-story img:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.story-heading {
  color: #222222;
  text-transform: uppercase;
  margin-right: .1em;
  letter-spacing: .04em;
  font-size: 12px;
}
