.front-page-stories {
  display: flex;
  justify-content: center;
}

.dummy-stories {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.story-images {
  display: flex;
}

.side-stories {
  display: flex;
  flex-direction: column;
}

.side-stories img {
  height: 157px;
  width: 230px;
  // margin-left: 25px;
  // margin-bottom: 11px;
  opacity: 0.3;
}

.side-stories img:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.main-story {
  height: 327px;
  width: 550px;
  background: linear-gradient(#595959, black 50%);
  // background-color: black;
}

.main-story img {
  height: 327px;
  width: 550px;
  opacity: 0.3;
}

// .main-story:hover {
//   background: radial-gradient(white, black 70%);
// }

.main-story img:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.story-heading {
  color: #222222;
  text-transform: uppercase;
  margin-right: .1em;
  letter-spacing: .04em;
  font-size: 12px;
  margin-bottom: 10px;
}

.side-story1 {
  margin-left: 25px;
  margin-bottom: 11px;
  background: linear-gradient(#595959, black 50%);
}

.side-story2 {
  margin-left: 25px;
  background: linear-gradient(#595959, black 50%);
}

.extra-section {
  padding: 30px;
  width: 250px;
  font-size: 12px;
}

.extra-entry-item {
  display: flex;
  margin-bottom: 20px;

  p:hover {
    color: #9AA8E9
  }

  img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
}
