.track-info-form {
    background-color: #E9E9E9;
    height: 500px;
    width: 700px;
    position: absolute;
    top: 9%;
    bottom: 0;
    right: 0;
    left: 25%;
    z-index: 3;
}

.title-and-artists {
    color: #9AA8E9;
    border-bottom: 2px solid #9AA8E8;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.artist-album-input {
  display: flex;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.edit-track-info-submit {
  border: 2px solid #9AA8E9;
  color: #9AA8E9;
  background-color: #E9E9E9;
}

.edit-track-info-submit:hover {
  background-color: #D9DCE9
}
