.edit-track-lyrics-form {
  display: flex;
  flex-direction: column;
  padding: 12px 10px;
  background-color: white;
}

.lyric-field {
  background-color: #F5F5F5;
  width: 400px;
  border: none;
  font-size: 15px;
  min-height: 300px;
}

.track-info-submit-cancel {
  display: flex;
}

.edit-track-lyrics-submit {
    color: #5DC746;
    border: 2px solid #5DC746;
    background-color: white;
    padding: 10px 10px 20px 10px;
    height: 30px;
    width: 50px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 5px;
}

.edit-track-lyrics-submit:hover {
  background-color: #DFF4DA;
}

.track-info-submit-cancel a {
    color: black;
    font-size: 12px;
    border: 2px solid black;
    height: 21px;
    width: 36px;
    padding: 10px 10px 0px 10px;
    cursor: pointer;
}

.edit-track-lyrics-form a:hover {
  background-color: #F5F5F5;
}

.track-lyrics {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 21px 17px;
    background-color: white;
    white-space: pre-line;
}

.track-lyrics a {
  background-color: yellow;
  cursor: pointer;
}

.test-paragraph {
  white-space: pre-line;
}

// .track-lyrics {
//     width: 400px;
//     height: 500px;
//     font-size: 15px;
//     padding: 13px 77px;
//     background-color: white;
// }
