.edit-track-lyrics-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.lyric-field {
  background-color: #F5F5F5;
  width: 400px;
  border: none;
  font-size: 15px;
  max-height: 1000px;
  overflow: auto;
}

.track-info-submit-cancel {
  display: flex;
}

.edit-track-lyrics-submit {
    color: #5DC746;
    border: 2px solid #5DC746;
    background-color: white;
    padding: 10px 10px 20px 10px;
    height: 30px;
    width: 50px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
}

.edit-track-lyrics-submit:hover {
  background-color: #DFF4DA;
}

.track-info-submit-cancel a {
    color: black;
    font-size: 12px;
    border: 2px solid black;
    height: 21px;
    width: 36px;
    padding: 10px 10px 0px 10px;
    cursor: pointer;
}

.edit-track-lyrics-form a:hover {
  background-color: #F5F5F5;
}

.track-lyrics {
  width: 400px;
  height: 500px;
  font-size: 15px;
}
