.track-info-form {
    background-color: #E9E9E9;
    height: 500px;
    width: 700px;
    position: absolute;
    top: 2%;
    bottom: 0;
    right: 0;
    left: 25%;
    z-index: 3;
    padding: 21px 22px;
}

.title-and-artists {
    color: #9AA8E9;
    border-bottom: 2px solid #9AA8E8;
    padding: 0px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.artist-album-input {
  display: flex;
}

.info-input-label {
  margin-bottom: 7px;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-right: 10px;
}

.not-submit-input {
    padding: 10px 3px;
    border: 2px solid #CCCCCC;
}

.artist-album-input input {
    width: 326px;
    margin-right: 8px;
}


.edit-track-info-submit {
    border: 2px solid #9AA8E9;
    color: #9AA8E9;
    background-color: #E9E9E9;
    height: 31px;
    width: 53px;
    font-weight: 500;
    font-size: 13px;
}

.edit-track-info-submit:hover {
  background-color: #D9DCE9
}
