.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #FFFF64;
  height: 41px;
}

.logo {
    color: #FFFF64;
    text-shadow: -2px 3px black;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 7px;
}

.searchbar {
  background-color: white;
  width: 180px;
  border: 0;
  padding: .4rem 2rem .3rem .5rem;
  position: relative;
  height: 20px;
  margin: 5px 10px 10px 5px;
  cursor: text;
}

.login-signup {
  font-size: .75em;
  cursor: pointer;
  display: flex;
}

.login-signup > a {
  text-decoration: none;
}

.logo {
  margin: 10px;
}

//buttons are for the login/signup/demo buttons on top right
button {
     background:none;
     border: none;
     cursor: pointer;
     font-size: 13px;
     border-bottom: 7px solid transparent;
}

button:hover {
  border-bottom: 7px solid #ff1464;
  transition-property: border-bottom;
  transition-duration: 0.1s;
  transition-timing-function: initial;
  transition-delay: initial;
}
