.main-header {
  display: flex;
  justify-content: space-between;
  // background-color: #FFFF64;
  height: 41px;
  // padding-top: 10%;
  // padding-right: 10%;
  // position: absolute;
}

.logo {
    // color: #FFFF64;
    color: white;
    text-shadow: -2px 3px black;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 7px;
    font-size: 30px;
    padding: 10% 0 0 10%;
    // position: absolute;
    // margin-left: 50%;
    // left: 45%;
    // right: 50%;
    // padding-left: 50%
}

.logo:hover {
  color: #FFFF64;
}

.searchbar {
  background-color: white;
  width: 180px;
  border: 0;
  padding: .4rem 2rem .3rem .5rem;
  position: relative;
  height: 20px;
  margin: 5px 10px 10px 5px;
  cursor: text;
}

.login-signup {
  font-size: .75em;
  cursor: pointer;
  display: flex;
  margin-right: 3%;
}

.login-signup > a {
  text-decoration: none;
}
.login-signup > button {
  text-decoration: none;
  padding-top: 15%;
}

.logo {
  margin: 10px;
}

//buttons are for the login/signup/demo buttons on top right
button {
     background:none;
     border: none;
     cursor: pointer;
     font-size: 13px;
     border-bottom: 7px solid transparent;
     color: white;
}

button:hover {
  border-bottom: 2px solid #ff1464;
  transition-property: border-bottom;
  transition-duration: 0.1s;
  transition-timing-function: initial;
  transition-delay: initial;
}

.header-name {
  padding-left: 10px;
  padding-top: 5px;
  color: white;
}

.header-button {
  padding-left: 10px;
}
