.navbar {
  // background-color: black;
  color: white;
  height: 38px;
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.navbar-items {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px;
  font-weight: lighter;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, .2);

  position: fixed;
  bottom: 0;
  background-color: black;
  z-index: 2;
  width: 100%;
}

.navbar-items a {
  color: white;
}

.navbar-items p:hover {
  color: #FFFF64;
  transition: 0.3s;
  cursor: pointer;
}
