.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
    position: absolute;
    top: 227px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E9E9E9;
    width: 450px;
    height: 424.5px;
}

.session-form-heading {
    color: #9AA8E9;
    text-transform: uppercase;
    border-bottom: 2px solid #9AA8E9;
    padding: 5px;
    margin: 0px 20px 20px 20px;
    font-size: 14px;
    font-weight: 500;
    margin: 20px;
}

.login-form {
  margin: 20px;
}

.login-input {
  width: 400px;
  border: 2px solid #CCCCCC;
  height: 25px;
}

.session-submit {
  background-color: inherit;
  border: 2px solid black;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.session-submit:hover {
  background-color: lightgrey;
  transition: 0.2s;
}

.error-messages {
    background-color: red;
    width: 201px;
    margin: 0 0 0 25px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
}
