.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E9E9E9;
    width: 450px;
    height: 466.5px;
}

button {
     background:none;
     border: none;
     cursor: pointer;
     font-size: 13px;
     border-bottom: 7px solid transparent;
}

button:hover {
  border-bottom: 7px solid #ff1464;
  transition-property: border-bottom;
  transition-duration: 0.1s;
  transition-timing-function: initial;
  transition-delay: initial;
}

.session-form-heading {
  color: #9AA8E9;
  text-transform: uppercase;
  border-bottom: 1px solid #9AA8E9;
  padding: 5px;
  margin: 0px 20px 20px 20px;
}

.login-input {
  width: 400px;
}

.error-messages {
  background-color: #EB382B;
}
