//want to alter the height of this header later
.track-show-header {
  display: flex;
  background-size: 100%;
  padding: 2.25rem 1.5rem 1.5rem 2.5rem;
}

//may need to fix this, depending on the picture the percentages can mean different things
//how to make it so that each picture starts off as the same width/height and then you do a percentage of that
.track-show-header img {
  width: 20%;
  height: 20%;
  border: 2px solid #9A9A9A;
  margin: 10px;
}

.track-info {
  text-transform: capitalize;
  padding: 20px 0 0 4px;
}

.show-track-title {
  color: #FFFE7D;
  font-size: 25px;
  font-weight: 500;
}

.show-track-artist {
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0 10px 0;

}

.album-info {
  display: flex;
  font-size: 13px;

  .album-tag {
    margin-right: 5px;
    color: #9A9A9A;
  }

  .show-track-album {
    color: #7F90E2;
  }

}

.track-show-edit-buttons {
  padding: 20px 10px;
  background-color: white;
}

.track-show-edit-buttons a {
  border: 2px solid black;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  color: black;
  background-color: white;
  margin-right: 5px;
}

.track-show-edit-buttons a:hover {
  background-color: #F5F5F5;
}

audio {
  position: absolute;
  left: 70vw;
  padding-top: 3%;
  // padding-left: 340px;
  // padding-top: 32px;
}
