.track-index-item {
  display: flex;
  border-bottom: 1px solid #CCCCCC;
  padding: 0 15px 0 0;
  padding-left: 23px;
  text-transform: capitalize;
  cursor: pointer;
  color: black;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}


//FIX THIS TOP!! NOT ADJUSTING CORRECTLY
.bottom-section {
  padding: 0 100px 100px 100px;
  position: relative;
}

.track-index-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  margin-left: 20px;
  padding: 10px;
  padding-top: 20px;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.track-index-item:hover {
  background-color: #E9E9E9;
  transition: background-color .25s ease;
}

.track-number {
  margin: 0 10px 0 0;
}

a:nth-child(-n+3) .track-index-item img {
    height: 100%;
    width: 80px;
}

a:nth-child(n+4) .track-index-item img {
  height: 100%;
  width: 60px;
}

.track-index-item .track-number {
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px 13px;
    margin-right: 25px;
}

//gets rid of the underline after making the entire section a link
a {
  text-decoration: none;
}

a:nth-child(-n+3) .track-index-item {
    padding: 10px 15px 10px 0px;
    height: 70px;
}

a:nth-child(-n+3) .track-index-item .track-number {
    border: 2px solid black;
    padding: 10px 15px 10px 15px;
    height: 32%;
    margin: 11px 20px 20px 20px;
}


a:nth-child(-n+3) .track-index-item .track-title{
  font-size: 1.5em;
  font-weight: 700;
}


a:nth-child(-n+3) .track-index-item .track-artist{
  font-size: 0.9em;
  font-weight: 500;
}

a:nth-child(n+4) .track-index-item .title-and-artist {
  display: flex;
}

a:nth-child(n+10) .track-index-item .track-number {
  margin-right: 14px;
}

//trash code fix
a:nth-child(n+4) .track-index-item .small-title:after {
  content: " b";
  text-transform: lowercase;
}

a:nth-child(n+4) .track-index-item .small-artist:before {
  content: "y ";
  text-transform: lowercase;
}

.heading-image {
  // position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
}



.heading-image-show {
  // position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  position: absolute;
}

.extraspace {
  // height: 200px;
  margin-bottom: 200px;
}

.header-group {
  padding: 15px 10px 10px 10px;
}
